/* Write your CSS here */
.img {
  height: 280px;
  width: 380px;
}
.project-card {
  width: 380px;
}
.project-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.duration-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.visit {
  border-style: none;
  color: #0967d2;
}
